*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(193, 170, 214);
    margin: 20px;
}

.studform{
    border: 2px solid red;
    background-color:burlywood;
    text-align: center;
    justify-content: center;
    color: black;
    margin: 20px;
    padding: 20px;
}

form{
    border:2px solid rgb(97, 26, 26);
    margin:20px;
    padding: 20px;
    text-align: center;
}

 .class{
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
} 
.option{
    border: 2px solid;
}

.button{
    margin: 15px;
    padding: 15px;
    background-color:darkgreen;
    color:wheat;
    height: 10px;
    width: 100px;
    cursor: pointer;
}

.button:hover{
    background-color: black;
    color: white;
}