<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Oredered and unordered list</title>
    <style>
        table{border: 1px solid black;}
        th{
            color: brown;
        }
    </style>
    </head>
    <body>
        <ol>
            <li>Java</li>
            <li>PHP</li>
            <li>HTML</li>
        </ol>
        <ul style="list-style-type: circle;">
            <li>Java</li>
            <li>PHP</li>
            <li>HTML</li>
        </ul>
        <dl>
            <dd>coffee</dd>
            <dt>cold coffee</dt>
            <dd>Milk</dd>
            <dt>Hot milk</dt>
        </dl>

        <div>Table elements</div>
        <table>
            <tr> 
                <th>Month</th>
                <th>Day</th>
            </tr>
            <tr>
                <td>may</td>
                <td>05</td>             
            </tr>  
        </table>
    </body>
</html>