<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link href="layout.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="container">
       
         <img src="logo1.png" alt="Error" height="100px" width="100px"> 
    <nav>
        <div class="box1">
        <ul id="Menus">
            <li style="border: 1px solid red;">Home</li>
            <li style="border: 1px solid black;">About</li>
            <li style="border: 1px solid pink;">Contact Us</li>
            <li style="border: 1px solid blue;">Product</li>
            <li style="border: 1px solid green;"> Services</li>
            <li><button>Log In</button></li>
        </ul>
    </nav>
    </div>
    <div class="box2">BOX 2</div>
    <div class="box3">BOX 3</div>
    <div class="box4">BOX 4</div>
    <div class="box5">BOX 5</div>
    <div class="box6">BOX 6</div>
    <div class="box7">BOX 7</div> 
</div>
    
</body>
</html>